{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    <div class="flex">
        <div class="w-9/12">
            <h2 class="text-2xl my-1">I140 premium processing times</h2>

            {{ render_chart(i140Chart) }}
        </div>

        <div class="w-3/12">
            <h2 class="text-2xl my-1">Tabular view</h2>

            <table class="rounded">
                <thead class="text-bold bg-slate-300 dark:bg-slate-800 rounded border-b">
                <tr class="p-1">
                    <th>Center</th>
                    <th>Waiting time</th>
                </tr>
                </thead>

                <tbody>
                {% for entry in i140Entries %}
                    <tr class="border-b p-1">
                        <td>{{ entry.processingCenter }}</td>
                        <td>{{ entry.waitTime }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="flex">
        <div class="w-9/12">
            <h2 class="text-2xl my-1">I485 premium processing times</h2>

            {{ render_chart(i485Chart) }}
        </div>

        <div class="w-3/12">
            <h2 class="text-2xl">Tabular view</h2>

            <table>
                <thead class="text-bold bg-slate-300 dark:bg-slate-800 rounded border-b">
                <tr>
                    <th>Center</th>
                    <th>Time</th>
                    <th>Publication date</th>
                    <th>Service request date</th>
                </tr>
                </thead>

                <tbody>
                {% for entry in i485Entries %}
                    <tr class="border-b even:bg-slate-300 even:dark:bg-slate-900 even:dark:text-slate-200 p-1">
                        <td>{{ entry.processingCenter }}</td>
                        <td>{{ entry.waitTime }}</td>
                        <td>{{ entry.publicationDate|date('Y.m.d') }}</td>
                        <td>{{ entry.serviceRequestDate|date('Y.m.d') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
